# ============================================
# ARCHIVOS DE PYTHON
# ============================================
__pycache__/
castor/__pycache__/
__pycache__/
*$py.class
*.py[cod]
*.pyo
*.pyd
*.pkl
*.pyc

# ============================================
# ENTORNOS VIRTUALES
# ============================================
/entornov/
venv/
ENV/
*.env
.env.*
.env03/ 

# ============================================
# ARCHIVO BASE DE DATOS LOCAL (NO VA AL REPO)
# ============================================
db.sqlite3
castor_db

# Si usaran PostgreSQL: NO subas dumps locales.
*.sql

# ============================================
# ARCHIVOS GENERADOS POR DJANGO
# ============================================
/staticfiles/
media/
media_root/
static_root/

# Archivos generados por collectstatic
#/static/

# ============================================
# CONFIGURACIONES LOCALES
# ============================================
/pyvenv.cfg
/local_settings.py

# ============================================
# EDITOR / IDE
# ============================================
.vscode/
.idea/

# ============================================
# LOGS Y TEMPORALES
# ============================================
*.log
*.pot
*.pyproj
*.tmp
*.temp
*.bak
*.swp

# ============================================
# SISTEMAS OPERATIVOS
# ============================================
# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store
.AppleDouble
.LSOverride

# ============================================
# ARCHIVOS DE DEPENDENCIAS (OPCIONALES)
# ============================================
# Para evitar subir build caches
build/
dist/
*.egg-info/
