{% extends 'base.html' %}

{% block titulo %}Listado de Tableros{% endblock %}

{% block contenido %}
<h2>Listado de Tableros</h2>

<ul>
    {% for tablero in tableros %}
        <li>
            <a href="{% url 'detalle_tablero' tablero.pk %}"> <!--Se le pasa la PK esperada en el path detalle_tablero del urls.py-->
                {{ tablero.titulo }}
            </a>
        </li>
    {% empty %} <!-- Si no hay elementos para iterar.. muestra mensaje (es como un else para el for)-->
        <li>No hay tableros creados aún.</li>
    {% endfor %}
</ul>

<a href="{% url 'crear_tablero' %}">Crear Tablero</a>
{% endblock %}
